.completed {
  text-decoration: line-through;
}

form.link {
  display: inline;
}

form.link > input[type="submit"] {
  display: none;
}

.dashboard-orders .order-details {
  margin-bottom: 2em;
}

.dashboard-orders .order-details table {
  width: 50%;
  border: solid 1px black;
}

.alert {
  margin: 0;
  padding: 0;
}

* {
  xmargin: 0;
  xpadding: 0;
  xborder: 0;
}
